# Entorno general
NODE_ENV=development

# API Node
API_PORT=3000

# Base de datos Postgres
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=clave
DB_NAME=customers_db

# Nginx
WEB_PORT=5000

# Docker
DOCKER_BUILDKIT=1
